<form action="/new" method="post" class = "card bg-dark text-light">

    <div class = "card-body p-4">
        <div class = "mb-3 text-center">
            <label for = "name">Nombre completo</label>
            <input type = "text" name = "name" placeholder="Nombre completo" 
            class = "form-control rounded-0 bg-light border-0">
        </div>

        <div class = "mb-3 text-center">
            <label for = "name">Correo electronico</label>
            <input type="text" name="email" placeholder="Escribe el correo"
            class = "form-control rounded-0 bg-light border-0">
        </div>

        <div class = "mb-3 text-center">
            <label for = "name">Numero de telefono</label>
            <input type="text" name="phone_number" placeholder="Escribe el numero de telefono"
            class = "form-control rounded-0 bg-light border-0">
        </div>

        <div class = "text-center">
            <button class = "btn btn-primary">Guardar</button>
        </div>
    </div>
</form>